body {
  background-color: rgb(25,25,25);
  color: white;
  font-family: Arial;
}

.title{
  font-size: 30px;
  font-weight: bold;
}

.move-icon {
  height: 50px;
}

.move-button {
  border-radius: 60px;
  background-color: transparent;
  border: 3px solid white;
  width: 120px;
  height: 120px;
  margin-left: 10px;
  cursor: pointer;
}

.result {
  font-size: 25px;
  font-weight: bold;
  font-family: Arial;
  margin-top: 50px;
}

.score {
  margin-top: 60px;
}

.reset-score-button {
  background-color: white;
  border: none;
  padding: 8px 15px;
  font-size: 15px;
  font-family: Arial;
  cursor: pointer;
}